body, html {
  margin: 0;
}
img {
  width: 100vw;
}
#one {
  display: none;
}
#two {
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 20px;
}
