body, html {
  margin: 0;
  background-color: #000;
  color: #fff;
}
#img-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#one {
  display: none;
  /* padding: 0px 100px; */
  box-sizing: border-box;
}
#two {
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 60px;
  font-weight: 100;
  box-sizing: border-box;
  /* padding: 0vw 10vw; */
}

#two p {
  background-color: #000;
  opacity: 0.5;
  bottom: 10vh;
  padding: 0vw 10vw;
}

@media only screen and (max-width: 600px) {
  #two {
    font-size: 35px;
    font-weight: 400;
  }
}
@media only screen and (orientation: landscape) {
   img {
     height: 100vh;
   }
}
@media only screen and (orientation: portrait) {
   img {
     width: 100vw;
   }
}
